.contact-form-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-form-form input,
.contact-form-form textarea,
.submit {
  border: none;
  padding: 0.8rem;
  background: #e2e2e2;
  border: 1px solid #bfbfbf;
}

.contact-form-form textarea {
  min-height: 4rem;
  resize: none;
}

.contact-form-form input::placeholder,
.contact-form-form textarea::placeholder,
.submit {
  font-family: 'Lexend', sans-serif;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.input-group input {
  width: 50%;
}

.submit {
  background-color: var(--color-3);
  color: var(--color-4);
  border: none;
  font-size: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  align-self: flex-end;
  padding: 0.8rem 3rem;

  transition: all 0.1s ease;
}

.submit:hover {
  color: var(--color-2);
}

.submit:active {
  box-shadow: none;
}

@media screen and (max-width: 500px) {
  .input-group {
    gap: 5vw;
  }
}
