.navbar-container {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1.5rem 3rem;
  transition: all 0.6s ease-in;
  z-index: 9999;
}

.navbar-container-sticky {
  position: fixed !important;
  background-color: var(--color-3);
  padding: 0.3rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-container-sticky ul li a {
  color: var(--color-8);
}

.navbar-container-sticky ul li a:hover {
  color: var(--color-2);
}

.navbar-container-sticky ul li div {
  border-bottom: 2px solid var(--color-3);
}

.logo-container {
  display: flex;
}

.navbar-logo {
  width: 80px;
  height: auto;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.navbar-links li {
  list-style: none;
}

.navbar-links-link {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-1);
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  padding: 0 0.4rem;

  transition: all 0.1s;
}

.navbar-links-link:hover {
  color: var(--color-3);
}

.icon {
  margin-right: 0.2rem;
}

.offer-icon {
  margin-bottom: -5px;
  margin-right: 0.3rem;
}

.navlink-underline {
  border-bottom: 2px solid var(--color-3);
}

.offer-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-6);
  color: var(--color-4);

  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;

  border: none;
  cursor: pointer;

  transition: all 0.15s ease;
}

.offer-button:hover {
  color: var(--color-2);
}

.offer-button:active {
  box-shadow: none;
}

.menu-icon {
  display: none;

  position: absolute;
  color: var(--color-8);

  left: 5%;

  font-size: 2rem;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;

  right: 100%;

  z-index: 10000;

  background-color: var(--color-3);
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
  color: var(--color-8);

  font-size: 1.2rem;
  overflow: auto;

  transition: all 0.4s ease-in-out;
}

.hamburger-menu-active {
  left: 0%;
  right: 10%;
}

.hamburger-menu-title {
  position: relative;
  width: 90%;

  display: flex;
  justify-content: center;
  padding: 1.7rem;
  margin: 0 auto;

  border-bottom: 1px solid var(--color-8);
}

.hamburger-menu-title svg {
  position: absolute;
  right: 0;
  top: 38%;
}

.hamburger-links {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;

  list-style: none;
  width: 80%;
  margin: 3rem auto;
}

.hamburger-links-link {
  color: var(--color-8);
  text-decoration: none;
  font-weight: 300;

  display: flex;
  align-items: center;
  font-size: 1.1rem;

  width: fit-content;
}

.hamburger-icon {
  font-size: 1.6rem;
  margin-right: 0.7rem;
}

@media screen and (max-width: 600px) {
  .navbar-logo {
    width: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .navbar-container {
    background-color: var(--color-3);
  }

  .navbar-links,
  .offer-button {
    display: none;
  }

  .navbar-container {
    justify-content: center;
  }

  .menu-icon {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .menu-icon {
    font-size: 3rem;
  }
}
