.portfolio-grid {
  width: 85%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 7vw;

  margin-bottom: 5rem;
}

@media screen and (max-width: 1150px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
