.modal-screen {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 999999;

  width: 100%;
  height: 100%;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--color-3);
  color: var(--color-8);

  display: flex;
  width: 80%;
  height: auto;
}

.icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal-image {
  width: 65%;
  height: auto;

  aspect-ratio: 5/ 4;

  object-fit: cover;
}

.modal-info {
  padding: 4rem 2rem;
}

.modal-info h2 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  .modal-info h2 {
    font-size: 3vw;
  }

  .modal-info p {
    font-size: 2vw;
  }

  .modal-info {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .modal-image {
    width: 100%;
    max-height: 50vh;
  }

  .modal-content {
    flex-direction: column;
  }

  .icon {
    color: var(--color-3);
  }

  .modal-info {
    padding: 2rem;
  }

  .modal-info h2 {
    margin-bottom: 1rem;
  }
}
