.team-cards {
  position: relative;

  width: 78%;

  display: grid;
  justify-items: center;

  row-gap: 5rem;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 4rem;
}

.border-box {
  position: absolute;
  top: calc(50% + 50px);
  transform: translateY(-50%);

  height: 50%;
  width: 50%;

  border: 2px solid var(--color-3);
}
