.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 3.5rem 0;
  max-width: 2500px;
}

.title-text {
  width: 80%;
  color: var(--color-7);
  margin-bottom: 1rem;
}

.title-separator {
  width: 80%;
  border-bottom: 1px solid;
}

.expanded-link {
  height: 60px;
}

@media screen and (max-width: 600px) {
  .expanded-link {
    height: 25px;
  }
}
